<div class="modal-content">
  <form id="dodajKomentar" name="dodajKomentar" role="form" ng-submit="vm.posiljanjePodatkov()" class="form-horizontal">
    <div class="modal-header">
      <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
        <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
      </button>
      <h4 id="oznakaModalnegaOkna" class="modal-title">Dodaj lokacijo</h4>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
      <div class="form-group">
        <label for="ocena" class="col-xs-10 col-sm-2 control-label">Ocena</label>
        <div class="col-xs-12 col-sm-2">
          <select id="ocena" name="ocena" ng-model="vm.podatkiObrazca.ocena" class="form-control input-sm">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="komentar" class="col-sm-2 control-label">Komentar</label>
        <div class="col-sm-10">
          <textarea id="komentar" name="komentar" rows="5" required="required" ng-model="vm.podatkiObrazca.komentar" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modalnoOkno.preklici()" type="button" class="btn btn-default">Prekliči</button>
      <button type="submit" class="btn btn-primary">Shrani komentar</button>
    </div>
  </form>
</div>