<div class="modal-content">
  <form id="dodajKomentar" name="dodajKomentar" role="form" ng-submit="vm.posiljanjePodatkov()" class="form-horizontal">
    <div class="modal-header">
      <button type="button" ng-click="vm.modalnoOkno.preklici()" class="close">
        <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
      </button>
      <h4 id="oznakaModalnegaOkna" class="modal-title">Zbrisi komentar za {{ vm.podrobnostiLokacije.nazivLokacije }}</h4>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
      <div> <h3>Potrdite brisanje komentarja</h3></div>
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modalnoOkno.preklici()" type="button" class="btn btn-default">Prekliči</button>
      <button type="submit" class="btn btn-primary">Zbrisi</button>
    </div>
  </form>
</div>