<navigacija></navigacija>

<div class="container">
  <glava vsebina="vm.glavaStrani"></glava>
  
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p ng-bind-html="vm.osrednjiDel.vsebina | dodajHtmlPrehodVNovoVrstico"></p>
    </div>
  </div>
  
  <noga></noga>
</div>